.App {
  text-align: center;
}

section.visor{
  margin-left: 50px;
  margin-right: 50px;
  border: 5px solid black;
  color: black;
  grid-area: bx1;
 }

section.botoes{
  margin-left: 50px;
  margin-right: 50px;
  border: 5px solid black;
  grid-area: bx2;
  display: grid;
  grid-template-rows: auto auto;
}


div.but2{
  display: grid;
  grid-template-columns: auto auto auto auto;
}

div.dobro{
  display: grid;
  grid-template-columns: auto auto; 
}

section.memoria{
  margin-left: 10px;
  margin-right: 10px;
  border: 5px solid black;
  grid-area: bx3;
}

main{
  display: grid;
  grid-template-areas: "bx1 bx3"
                       "bx2 bx3"
}

